$mainColor: rgb(238, 237, 237);
$violet:rgb(59, 8, 59);
$blue:#2eb1ed;
$red:#cc3a3b;
$green:#1fc586;
$orange:#ec9412;
$pink:#d42a7f;
$gray:#242630;
$width:768px;

@mixin mobile{

    @media(max-width:#{$width}){
        @content
    }
}

